body {
    margin: 0;
}

#container {
    display: flex;
    height: calc(100vh - 4px);
}

#right-panel {
    width: 50%;
    /* 2px per border */
    height: calc(100vh - 4px);
}
#left-panel {
    /* 2px per border */
    width: 50%;
    /* 2px per border */
    height: calc(100vh - 4px);
}
